<div class="container-fluid footer m-0">
  <div class="row align-items-center p-2 ms-5 me-5">
    <!-- Contacts Section -->
    <div class="col-sm-12 col-md-4 contacts">
      <h5>Contacts</h5>
      <p><i class="fa-solid fa-phone"></i> +20 1015349267</p>
      <p><i class="fa-solid fa-envelope"></i> alisaadothman21@gmail.com</p>
      <p><i class="fa-solid fa-location-dot"></i> New Cairo, Cairo, Egypt</p>
    </div>
    <!-- Motivating Word Section -->
    <div class="col-sm-12 col-md-4 motivating-word">
      <h5>Bring your ideas to reality!</h5>
      <button class="footer-CTA-Button">
        <a href="contact.html">Contact Me</a>
      </button>
    </div>
    <!-- Quick Links Section -->
    <div class="col-sm-12 col-md-4 quick-links">
      <h5>Socials</h5>
      <a class="me-2" href="#">
        <i class="fa-brands fa-linkedin" style="font-size: xx-large"></i
      ></a>

      <a class="ms-2 me-2" href="#">
        <i class="fa-brands fa-github" style="font-size: xx-large"></i
      ></a>
      <a class="ms-2" href="#">
        <i class="fa-brands fa-x-twitter" style="font-size: xx-large"></i>
      </a>
    </div>
  </div>
</div>
